.container {
  height: 100vh;
  padding: 0 5rem;
  overflow-y: scroll;
}

.top_bg {
  background: url('/assets/backgrounds/bg_top.svg') no-repeat 0 bottom;
  background-size: cover;
  height: 100%;
  padding: 0 0 25%;
  padding-top: 20px;
}

.title {
  color: var(--primary-orange-700) !important;
  font-size: 2.5rem !important;
  font-weight: 700;
  margin: 20px auto;
}
