.title {
  color: var(--primary-blue-600) !important;
  font-size: 2.5rem !important;
  font-weight: 700;
  margin: 20px auto;
}

.product_title {
  color: var(--primary-blue-600) !important;
  font-size: 2em !important;
  font-weight: 700;
}

.line_break {
  height: 2px;
  background-color: #ccc;
  position: relative;
  &::before {
    width: 150px;
    background: var(--primary-blue-600);
    content: '';
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
  }
}

.card_wrap {
  margin: 30px auto;
}
