.footer_container {
  position: relative;
  bottom: 0;
  padding: 20px;
  border-top: 1px solid #ccc;
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  li {
    font-size: 14px;
    line-height: 22pxss;
  }
}

.footer_mark {
  background: linear-gradient(-90deg, #ffdb00, var(--primary-yellow-800) 70%);
  padding: 20px 0;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
