.wrap {
  padding: 20px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
}

.item {
  border-right: 1px solid #dedede;
  border-left: 1px solid transparent;
  padding: 0 50px;
  span {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }
}

.item:last-child {
  border-right: 1px solid transparent;
}
