.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  position: sticky !important;
  z-index: 9999;
  :global {
    .ant-menu {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: none !important;
    }
    .ant-menu-title-content {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.navbar_sticky {
  padding: 0 48px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.search_box {
  width: 28rem;
}
