.cardWrapper {
  position: relative;
  :global {
    .ant-card-body {
      padding: 10px !important;
    }
  }
}

.imageWrapper {
  position: relative;
  overflow: hidden;
  :global {
    .ant-image {
      width: 100% !important;
    }
    .ant-image-img {
      object-fit: contain !important;
    }
  }
}

.product_name {
  min-height: 48px;
  text-align: center;
}

.productImage {
  width: 100%;
  height: 220px !important;
  border: 5px solid var(--primary-yellow-800);
  display: block;
  transition: transform 0.4s ease;
}

.shinyEffect {
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  transform: skewX(-20deg);
}

/* trigger khi hover vào card */
.cardWrapper:hover {
  border: 1px solid var(--primary-yellow-800) !important;
}

.cardWrapper:hover .product_name {
  color: var(--primary-yellow-800);
}

.cardWrapper:hover .productImage {
  transform: scale(1.05);
  border: none;
}

.cardWrapper:hover .shinyEffect {
  animation: shine 1s forwards;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
