.content {
  height: 37.5rem; // Set your desired max height
  overflow: hidden;
  :global {
    .ant-carousel .ant-image {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
      display: block;
    }
  }
}
