.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
  position: sticky !important;
  z-index: 9999;
  gap: 5em;
  :global {
    .ant-menu {
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: none !important;
    }
    .ant-menu-title-content {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}

.header_sticky {
  // background: linear-gradient(180deg, rgba(255, 218, 73, 1) 0%, rgba(255, 184, 31, 1) 100%);
  background-image: url('/assets/header.png');
  padding: 15px 48px;
  position: relative;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
}

.header_sticky_mobile {
  padding: 0 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  border-bottom: 1px solid #cacaca;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.2);
}

.search_box {
  width: 100% !important;
  :global {
    .ant-select-selection-search-input {
      height: 45px;
      border-radius: 20px;
    }
  }
}
.search_box_mobile {
  width: 95% !important;
  :global {
    .ant-input {
      font-size: 16px !important;
    }
  }
}

.search_wrap {
  height: 45px;
  width: 60% !important;
}

.suggest_item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px;
  text-decoration: none;
  color: inherit;

  &:hover {
    background: #f5f5f5;
  }
}

.suggest_img {
  width: 92px !important;
  height: 92px !important;
  object-fit: cover;
  border-radius: 6px;
}

.suggest_name {
  font-size: 16px;
  font-weight: 500;
}

.suggest_price {
  font-size: 15px;
  font-weight: 500;
  color: #d4380d;
}

.mobile_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.search_wrap_mobile {
  flex: 1;
  width: 20rem; // search chiếm vừa đủ
}

.logo_mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px auto;
}

.contact_btn {
  background: #ff4d4f;
  border: none;
  font-weight: bold;
  animation: pulse 1.5s infinite;
  display: flex;
  align-items: center;
  gap: 3px;
  padding: 0 5rem !important;
  height: 100% !important;
  font-size: 1rem !important;
  &:hover {
    background: #d9363e;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0.6);
  }
  70% {
    transform: scale(1.08);
    box-shadow: 0 0 0 10px rgba(255, 77, 79, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(255, 77, 79, 0);
  }
}
