:root {
  --font-mono: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
    'Noto Color Emoji' !important;
  --foreground-rgb: 0, 0, 0;
  --primary-blue-800: #007aff;
  --primary-blue-600: #10a8eb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #f7f7f7;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: nones;
}

.ant-menu-dark.ant-menu-horizontal {
  flex: 1;
}
