.carousel_item {
  height: 160px;
  color: var(--text-color-white);
  line-height: 160px;
  text-align: center;
  background: #364d79;
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.partner_image {
  width: 100%;
  height: 80px;
  object-fit: contain;
}

.carousel {
  height: 15rem;
  overflow: hidden;
  :global {
    .ant-carousel .ant-image {
      width: 100% !important;
      height: 100% !important;
      object-fit: cover !important;
      display: block;
    }
  }
}
